/**
 * $BOOK
 */

.book {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: left 300ms ease, transform 300ms ease;
    overflow-y: auto;

    @media (max-width: ($sidebar-width * 2)) {
        transition: transform 300ms ease;
    }
}

    .book__wrap {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow-y: auto;
    }

        .book__header {
            font-family: $font-family-sans-serif;
            color: $text-color-muted;
            height: 50px;
            padding: 0 10px;
            font-size: 14px;
            overflow: visible;

            .sepia & {
                color: $text-color-sepia-muted;
            }

            .action--left:first-child {
                margin-left: 0;
            }

            .action--right {
                margin-right: 0;
            }

            &:hover .book__title {
                opacity: 1;
            }
        }

        .book__title {
            margin: 0;
            padding: 0 50px;
            font-weight: 400;
            font-size: 18px;
            line-height: 50px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            opacity: 0;
            transition: opacity 300ms ease;

            a {
                text-decoration: none;
                color: inherit;
            }
        }

/**
 * #NAVIGATION TOGGLE
 */
.with-sidebar .book {
    left: $sidebar-width;

    @media (max-width: ($sidebar-width * 2)) {
        transform: translate(calc(100% - 60px), 0);
        left: 0;
    }
}
