/**
 * $SUMMARY
 */

.summary {}


/**
 * #COUNTERS
 */
.summary,
.summary ol {
    counter-reset: item;
    list-style: none;
}

.summary li:before {
    content: counters(item, '.') '. ';
    counter-increment: item;
}
