/**
 * $DROPDOWN
 */

$dropdown-background: #fafafa;

.dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: calc(50% - 11px);
    background: $dropdown-background;
    border: 1px solid darken($dropdown-background, 10%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .10);
    border-radius: 2px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: $text-color-muted;
    cursor: default;

    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease;

    .with-dropdown & {
        visibility: visible;
        opacity: 1;
    }

    &:before {
        content: '';
        position: absolute;
        top: -6px;
        left: 4px;
        width: 0;
	    height: 0;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-bottom: 6px solid darken($dropdown-background, 7.5%);

    }

    &:after {
        content: '';
        position: absolute;
        top: -5px;
        left: 5px;
        width: 0;
	    height: 0;
	    border-left: 5px solid transparent;
	    border-right: 5px solid transparent;
	    border-bottom: 5px solid $dropdown-background;
    }
}

    .dropdown__item {
        line-height: 2;
        padding: 0 15px;
        white-space: nowrap;
        transition: color 300ms ease;
        cursor: pointer;

        &:hover {
            color: $text-color;
        }
    }

    .dropdown__item--half {
        width: 50%;
        float: left;
    }

    .dropdown__item--divider {
        clear: both;
        border-bottom: 1px solid darken($dropdown-background, 5%);
        height: 0px;
        padding-top: 5px;
        margin-bottom: 5px;
    }
