/**
 * $FONT
 */

.serif {
    font-family: $font-family-serif;
}

.sans-serif {
    font-family: $font-family-sans-serif;
}

.smaller {
    font-size: 0.85em;
    line-height: inherit;
}

.larger {
    font-size: 1.15em;
    line-height: inherit;
}
